################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LSI Project GUI/LSI Project GUI.VC.db
/LSI Project GUI/LSI Project GUI.VC.VC.opendb
/LSI Project GUI/LSI Project GUI.pro.user
/LSI Project GUI/LSI Project GUI/x64/Debug/qcustomplot.obj
/LSI Project GUI/LSI Project GUI/x64/Debug/moc_qcustomplot.obj
